{% macro banner_style(imageUrl) %}
  <style id="banner-style">
    {% raw %} #banner { {% endraw %}
      background-image: linear-gradient(to bottom, rgba(73, 80, 116, 0), rgba(73, 80, 116, .9) 60%, rgba(73, 80, 116, 1)),
      url('{{ imageUrl }}');
    {% raw %} } {% endraw %}
  </style>
{% endmacro %}

{%- macro source_icon(itemx) -%}
  <span class="item-type-icon {{ itemx.external.source|prefix('icon-') }}"
      title="{{itemx.entityType}}{{ itemx.external.source|prefix(' from ') }}">
    {{ itemx.entityType }}
  </span>
{%- endmacro -%}

{%- macro time(itemt, field) -%}
  {%- if itemt[field] -%}
    <time>{{ itemt.renderDate(field) }}</time>
  {%- endif -%}
{%- endmacro -%}

{%- macro video(itemv) -%}
  <figure class="item item-video" data-key="{{ itemv.key }}">
    {{ source_icon(itemv) }}
    <a class="load-video" href="#" title="click to load video">
      <img src="{{ itemv.small.url }}" alt="{{ itemv.title }}" width="{{ itemv.small.width }}" height="{{ itemv.small.height }}"/>
    </a>
    {{ time(itemv, 'created') }}
  </figure>
{%- endmacro -%}

{%- macro commit(itemc) -%}
  <div class="item item-commit" data-key="{{ itemc.key }}">
    {{ source_icon(itemc) }}
    <div class="item-content">{{ itemc.title }}</div>
    <a href="{{ itemc.external.url }}" target="_blank">browse code</a>
    {{ time(itemc, 'created') }}
  </div>
{%- endmacro -%}

{%- macro image(itemi) -%}
  <figure class="item item-image" data-key="{{ itemi.key }}">
    {{ source_icon(itemi) }}
    <a class="image-grid-link" href="{{ itemi.full.url }}" rel="images" title="{{ itemi.title }}">
      <img src="{{ itemi.small.url }}" alt="{{ itemi.title }}" width="{{ itemi.small.width }}" height="{{ itemi.small.height }}"/>
    </a>
    {{ time(itemi, 'created') }}
  </figure>
{%- endmacro -%}

{%- macro blogentry(itemb) -%}
  <article class="item item-blogentry" data-key="{{ itemb.key }}">
    {{ source_icon(itemb) }}
    <h3 class="item-title">{{ itemb.title }}</h3>
    <div class="item-content">
      {%- autoescape false -%}
        {{ itemb.content.data }}
      {%- endautoescape -%}
    </div>
    {{ time(itemb, 'created') }}
  </article>
{%- endmacro -%}

{%- macro batch(b) -%}
  <article class="item item-batch item-batch-{{ b.batchType }}">
    {%- for i in b.items -%}
      {{ renderItem(i) }}
    {%- endfor -%}
  </article>
{%- endmacro -%}

{%- macro renderItem(i)  -%}
  {%- if i.batchType -%}
    {{ batch(i) }}
  {%- elif i.entityType == 'video' -%}
    {{ video(i) }}
  {%- elif i.entityType == 'commit' -%}
    {{ commit(i) }}
  {%- elif i.entityType == 'image' -%}
    {{ image(i) }}
  {%- elif i.entityType == 'blogentry' -%}
    {{ blogentry(i) }}
  {%- endif -%}
{%- endmacro -%}

{% macro project_sub_nav(project, pages, currentPage) %}
  <nav id="sub-nav">
    <ul>
      {% spaceless %}
        <li class="{% if !currentPage %}current{% endif %}">
          <a href="/projects/{{ project.key }}">summary</a>
        </li>
        {% if not currentPage %}
          {% for item in project.navItems %}
            <li>
              <a href="{{ item.url }}" {% if item.external %} target="_blank"{% endif %}>
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
        {% for page in pages %}
          <li class="{% if currentPage == page.key %}current{% endif %}">
            <a href="/projects/{{ project.key }}/pages/{{ page.key }}">
              {{ page.title }}
            </a>
          </li>
        {% endfor %}
      {% endspaceless %}
    </ul>
  </nav>
{% endmacro %}
