{% macro banner_style(imageUrl) %}
  <style id="banner-style">
    {% raw %} #banner { {% endraw %}
      background-image: linear-gradient(to bottom, rgba(73, 80, 116, 0), rgba(73, 80, 116, .9) 60%, rgba(73, 80, 116, 1)),
      url('{{ imageUrl }}');
    {% raw %} } {% endraw %}
  </style>
{% endmacro %}

{%- macro source_icon(item) -%}
  <span class="item-type-icon {{ item.external.source|prefix('icon-') }}"
      title="{{item.entityType}}{{ item.external.source|prefix(' from ') }}">
    {{ item.entityType }}
  </span>
{%- endmacro -%}

{%- macro time(item, field) -%}
  {%- if item[field] -%}
    <time>{{ item.renderDate(field) }}</time>
  {%- endif -%}
{%- endmacro -%}

{%- macro video(item) -%}
  <figure class="item item-video" data-key="{{ item.key }}">
    {{ source_icon(item) }}
    <a class="load-video" href="#" title="click to load video">
      <img src="{{ item.small.url }}" alt="{{ item.title }}" width="{{ item.small.width }}" height="{{ item.small.height }}"/>
    </a>
    {{ time(item, 'created') }}
  </figure>
{%- endmacro -%}

{%- macro commit(item) -%}
  <div class="item item-commit" data-key="{{ item.key }}">
    {{ source_icon(item) }}
    <div class="item-content">{{ item.title }}</div>
    <a href="{{ item.external.url }}" target="_blank">browse code</a>
    {{ time(item, 'created') }}
  </div>
{%- endmacro -%}

{%- macro image(item) -%}
  <figure class="item item-image" data-key="{{ item.key }}">
    {{ source_icon(item) }}
    <a class="image-grid-link" href="{{ item.full.url }}" rel="images" title="{{ item.title }}">
      <img src="{{ item.small.url }}" alt="{{ item.title }}" width="{{ item.small.width }}" height="{{ item.small.height }}"/>
    </a>
    {{ time(item, 'created') }}
  </figure>
{%- endmacro -%}

{%- macro blogentry(item) -%}
  <article class="item item-blogentry" data-key="{{ item.key }}">
    {{ source_icon(item) }}
    <h3 class="item-title">{{ item.title }}</h3>
    <div class="item-content">
      {%- autoescape false -%}
        {{ item.content.data }}
      {%- endautoescape -%}
    </div>
    {{ time(item, 'created') }}
  </article>
{%- endmacro -%}

{%- macro batch(batch) -%}
  <article class="item item-batch item-batch-{{ batch.batchType }}">
    {%- for i in batch.items -%}
      {{ renderItem(i) }}
    {%- endfor -%}
  </article>
{%- endmacro -%}

{%- macro renderItem(i) -%}
  {%- if i.batchType -%}
    {{ batch(i) }}
  {%- elif i.entityType == 'video' -%}
    {{ video(i) }}
  {%- elif i.entityType == 'commit' -%}
    {{ commit(i) }}
  {%- elif i.entityType == 'image' -%}
    {{ image(i) }}
  {%- elif i.entityType == 'blogentry' -%}
    {{ blogentry(i) }}
  {%- endif -%}
{%- endmacro -%}

{% macro project_sub_nav(project, pages, currentPage) %}
  <nav id="sub-nav">
    <ul>
      {% spaceless %}
        <li class="{% if !currentPage %}current{% endif %}">
          <a href="/projects/{{ project.key }}">summary</a>
        </li>
        {% if not currentPage %}
          {% for item in project.navItems %}
            <li>
              <a href="{{ item.url }}" {% if item.external %} target="_blank"{% endif %}>
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
        {% for page in pages %}
          <li class="{% if currentPage == page.key %}current{% endif %}">
            <a href="/projects/{{ project.key }}/pages/{{ page.key }}">
              {{ page.title }}
            </a>
          </li>
        {% endfor %}
      {% endspaceless %}
    </ul>
  </nav>
{% endmacro %}
