{%- import "./common.html" as common -%}
{%- if not isAjax -%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="{{ siteAuthor }}"/>
  <title>{{ siteTitle }}: {% block doc_title %}{{ pageTitle }}{% endblock %}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen+Mono" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
  {%- if not isAjax -%}
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  {%- endif -%}
</head>
<body>
{%- endif -%}
{%- if not isContentOnly -%}
  <header id="site-header">
    <button id="site-menu-toggle" type="button"></button>
    <h1>
      <a href="/">{{ siteTitle }}</a>
    </h1>
  </header>
  {% include "./nav-menu.html" %}
  <header id="page-header">
    <h2>
      {% block page_title %}
        {{ pageTitle }}
      {% endblock %}
    </h2>
  </header>
  <main data-routeid="{{ routeId }}" {% if pageParams %} data-page-params="{{ pageParams|json }}" {% endif %}>
{%- endif -%}
    {%- block content -%}
    {%- endblock -%}
{%- if not isContentOnly -%}
  </main>
  {{ common.banner_style(bannerUrl) }}
{%- if not isAjax -%}
  <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <script src="/js/script.js"></script>
{%- endif -%}
{%- if not isAjax and analyticsSiteId -%}
  <script>
    var _gas = _gas || [];
    _gas.push(['_setAccount', {{analyticsSiteId|json|raw}}]);
    _gas.push(['_setDomainName', {{analyticsDomain|json|raw}}]);
    _gas.push(['_trackPageview']);
    _gas.push(['_gasTrackForms']);
    _gas.push(['_gasTrackOutboundLinks']);
    _gas.push(['_gasTrackMaxScroll']);
    _gas.push(['_gasTrackDownloads']);
    _gas.push(['_gasTrackYoutube', {force: true}]);
    _gas.push(['_gasTrackVimeo', {force: true}]);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = '//cdnjs.cloudflare.com/ajax/libs/gas/1.10.1/gas.min.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
{%- endif -%}
{%- endif -%}