{%- import "./common.html" as common -%}
{%- if not isAjax -%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="{{ siteAuthor }}"/>
  <title>{{ siteTitle }}| {% block doc_title %}{{ pageTitle }}{% endblock %}</title>
  <link rel="stylesheet" href="//reset5.googlecode.com/hg/reset.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen+Mono" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/example1/colorbox.css">
</head>
<body>
  <div id="banner"> </div>
{%- endif -%}
{%- if not isContentOnly -%}
  <header id="site-header">
    <h1>
      <a href="/">{{ siteTitle }}</a>
    </h1>
  </header>
  {% include "./nav-menu.html" %}
  <header id="page-header">
    <h2>
      {% block page_title %}
        {{ pageTitle }}
      {% endblock %}
    </h2>
  </header>
  <main data-routeid="{{ routeId }}" {% if pageParams %} data-page-params="{{ pageParams|json }}" {% endif %}>
{%- endif -%}
    {%- block content -%}
    {%- endblock -%}
{%- if not isContentOnly -%}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
  {{ common.banner_style(bannerUrl) }}
{%- if not isAjax -%}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/jquery.colorbox.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.7.0/jquery.pjax.min.js"></script>
  <script src="/js/script.js"></script>
{%- endif -%}
{%- if not isAjax -%}
  {{ analytics() }}
</body>
</html>
{%- endif -%}
{%- endif -%}