{%- set inProjectScope = routeId=='projectDetail'||routeId=='projectPage' -%}
{%- set navClass = '' -%}
<nav id="main-nav">
  <ul>
    {#
    {% set navClass = routeId=='page'&& page && page.key == 'about' ? 'current': (inProjectScope?'out-of-scope':'') %}
    #}
    <li class="{{ navClass }}">
      <a href="/pages/about">about</a>
    </li>
    {#
    {% set navClass = routeId=='news'?'current': (inProjectScope?'out-of-scope':'') %}
    #}
    <li class="{{ navClass }}">
      <a href="/news">news</a>
    </li>
    {#
    {% set navClass = routeId == 'projects'?'current':(inProjectScope?'out-of-scope':'') %}
    #}
    <li class="{{ navClass }}" rel="projects">
      <a href="/projects">projects</a>
    </li>
    {#
    {% set navClass = inProjectScope?'out-of-scope':'' %}
    #}
    <li class="{{ navClass }} nav-item-facebook has-icon">
      <a href="https://www.facebook.com/int3kt" target="_blank">facebook</a>
    </li>
    <li class="{{ navClass }} nav-item-github has-icon">
      <a href="https://github.com/t3kt" target="_blank">github</a>
    </li>
    <li class="{{ navClass }}">
      <a href="https://vimeo.com/tekt" target="_blank">vimeo</a>
    </li>
    <li class="{{ navClass }}">
      <a href="https://twitter.com/intekt" target="_blank">twitter</a>
    </li>
  </ul>
</nav>