doctype 5
include ./mixins
if isAjax
  div
    h2#title
      block title
        = title
    div#ajax-main
      block content
    footer
      block footer
    div#scripts
      block scripts
else
  html
    head
      meta(charset='utf-8')
      title='tekt| ' + title
      meta(name="author", content='tekt')
      link(rel='stylesheet', href='//reset5.googlecode.com/hg/reset.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', href='/images/favicon.png')
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Oxygen+Mono', type='text/css')
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.css')
      style#banner-style.
        #banner{
          background-image:
            linear-gradient(to bottom, rgba(73, 80, 116, 0), rgba(73, 80, 116, .9) 60%, rgba(73, 80, 116, 1)),
            url('#{banner||(project&&project.bannerUrl)||settings.defaultBannerUrl}');
        }
      block head
    body
      div#banner
      header
        h1
          a(href='/') tekt
        h2=title
      block navmenu
        include navmenu
      main
        block content
      footer
        block footer
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.pack.js')
      script(src='/js/script.js')
      //include analytics
      block scripts