doctype 5
include ./mixins
if isAjax
  div
    h2#title
      block title
        = title
    div#ajax-main
      block content
    footer
      block footer
    div#scripts
      block scripts
else
  html
    head
      meta(charset='utf-8')
      title='tekt| ' + title
      meta(name="author", content='tekt')
      link(rel='stylesheet', href='//reset5.googlecode.com/hg/reset.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/main.css')
      link(rel='shortcut icon', href='/images/favicon.png')
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Oxygen+Mono', type='text/css')
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/example1/colorbox.css')
      style#banner-style.
        #banner{
          background-image:
            linear-gradient(to bottom, rgba(73, 80, 116, 0), rgba(73, 80, 116, .9) 60%, rgba(73, 80, 116, 1)),
            url('#{banner||(project&&project.bannerUrl)||settings.defaultBannerUrl}');
        }
    body
      div#banner
      header#site-header
        h1
          a(href='/') tekt
      block navmenu
        include navmenu
      header#page-header
        h2=title
      main
        block content
      footer
        block footer
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/jquery.colorbox.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.7.0/jquery.pjax.min.js')
      script(src='/js/script.js')
      if analyticsEnabled
        include analytics
      block scripts