body {
  background-color: #495074;
  font-family: 'Oxygen Mono', sans-serif;
  color: #222266;
  line-height: normal; }
  @media (max-device-width: 800px) {
    body {
      overflow-x: hidden;
      font-size: 1.5em; } }

::-moz-selection {
  background: #a5b3cc;
  text-shadow: none; }

::selection {
  background: #a5b3cc;
  text-shadow: none; }

#site-header, #page-header, #main-nav, main {
  background-color: #a5b3cc;
  background-color: rgba(165, 179, 204, 0.5);
  border: 1px dashed #495074;
  border-radius: .5em;
  padding: 1em;
  margin: 1em; }

#site-header, #page-header, #main-nav {
  position: fixed; }
  @media (max-width: 800px) {
    #site-header, #page-header, #main-nav {
      position: static; } }

#site-header, #page-header {
  z-index: 10;
  text-transform: lowercase;
  min-height: 2.2em;
  top: 0; }

#site-header {
  left: 0;
  width: 13em;
  overflow: hidden;
  opacity: 1; }
  #site-header h1 {
    display: inline-block;
    font-size: 1.5em; }
  @media (max-width: 800px), (max-device-width: 800px) {
    #site-header {
      position: static;
      width: inherit; } }
  @media (min-width: 800px) and (min-device-width: 800px) {
    #site-header {
      -moz-transition: opacity 1s, width 0.5s;
      -webkit-transition: opacity 1s, width 0.5s;
      -o-transition: opacity 1s, width 0.5s;
      transition: opacity 1s, width 0.5s; }
      .scrolled-down #site-header {
        width: 1em;
        -moz-transition: opacity 1s, width 1s;
        -webkit-transition: opacity 1s, width 1s;
        -o-transition: opacity 1s, width 1s;
        transition: opacity 1s, width 1s;
        opacity: 0.4; } }

#page-header {
  left: 16em;
  min-width: 9em; }
  #page-header h2 {
    display: inline-block;
    font-size: 1.2em;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  @media (max-width: 800px), (max-device-width: 800px) {
    #page-header {
      position: static;
      width: inherit;
      max-width: inherit;
      display: block; }
      #page-header h2 {
        max-width: inherit; } }
  @media (min-width: 800px) and (min-device-width: 800px) {
    #page-header {
      opacity: 1;
      max-width: 40em;
      -moz-transition: opacity 0.5s, left 0.5s, max-width 0.5s;
      -webkit-transition: opacity 0.5s, left 0.5s, max-width 0.5s;
      -o-transition: opacity 0.5s, left 0.5s, max-width 0.5s;
      transition: opacity 0.5s, left 0.5s, max-width 0.5s; }
      .scrolled-down #page-header {
        left: 4em; }
      .scrolled-down #page-header:not(:hover) {
        opacity: 0.4;
        -moz-transition: opacity 1s, left 1s, max-width 1s;
        -webkit-transition: opacity 1s, left 1s, max-width 1s;
        -o-transition: opacity 1s, left 1s, max-width 1s;
        transition: opacity 1s, left 1s, max-width 1s;
        box-shadow: 0 0 1em 0.5em rgba(73, 80, 116, 0.2);
        max-width: 9em; } }

#main-nav {
  top: 5.2em;
  left: 0;
  width: 13em;
  min-height: 13em; }
  @media (max-width: 800px), (max-device-width: 800px) {
    #main-nav {
      position: static;
      width: auto;
      min-height: inherit; } }
  @media (min-width: 800px) and (min-device-width: 800px) {
    #main-nav {
      opacity: 1;
      -moz-transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      .scrolled-down #main-nav:not(:hover) {
        opacity: 0.4;
        -moz-transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s; } }

nav {
  text-transform: lowercase; }
  nav ul {
    padding-left: 0;
    list-style: none; }
  nav li {
    margin-top: .1em;
    white-space: nowrap;
    overflow-x: hidden; }
    nav li a {
      display: block;
      padding: 0.5em;
      border-top-right-radius: 0.5em;
      overflow-x: hidden;
      text-overflow: ellipsis; }
    nav li.current[rel='projects'] > a {
      border-bottom-left-radius: 0.5em; }
    nav li a, nav li.out-of-scope > a:hover {
      border: 1px solid #495074; }
    nav li.out-of-scope > a {
      border-color: rgba(73, 80, 116, 0.2); }
    nav li.out-of-scope > a {
      padding: 0.25em; }
    nav li.current > a {
      font-weight: bold; }
    nav li ul {
      padding-left: 1em; }
  @media (max-device-width: 800px) {
    nav {
      font-size: 1.5em; } }

#sub-nav {
  float: right; }
  #sub-nav li {
    display: inline-block;
    margin-top: 0;
    margin-left: .1em; }
  @media (max-width: 1000px), (max-device-width: 800px) {
    #sub-nav {
      float: none;
      margin-bottom: 1em; }
      #sub-nav li {
        display: block;
        margin-bottom: .1em; } }

.icon-link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  text-indent: -999999px;
  width: 32px;
  height: 32px;
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat; }
  nav .icon-link {
    margin-right: .1em;
    width: 24%;
    width: calc(25% - .1em);
    background-position: 50% 0; }
    nav .icon-link:last-child {
      margin-right: 0;
      width: 25%; }

.icon-facebook {
  background-image: url("../images/facebook-32.png"); }

.icon-github {
  background-image: url("../images/github-32.png"); }

.icon-vimeo {
  background-image: url("../images/vimeo-32.png"); }

.icon-flickr {
  background-image: url("../images/flickr-32.png"); }

.icon-blogger {
  background-image: url("../images/blogger-32.png"); }

.item-type-icon {
  text-indent: -99999px;
  overflow: hidden;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat; }
  .item-commit .item-type-icon, .item-blogentry .item-type-icon {
    float: right; }
  .item-video .item-type-icon, .item-image .item-type-icon {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .7;
    margin: 0.5em; }

main {
  position: absolute;
  top: 5.2em;
  left: 16em;
  right: 0;
  min-height: 13em; }
  @media (max-width: 800px), (max-device-width: 800px) {
    main {
      position: static; } }

hr {
  border: none;
  border-top: 1px solid #495074; }

ul, ol {
  list-style-position: inside; }

.item {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  vertical-align: top;
  text-align: left;
  min-width: 14em;
  min-height: 5em;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .item:not(.video-loaded) {
    width: 22%;
    width: calc(25% - 1em); }
    @media (max-width: 1000px) {
      .item:not(.video-loaded) {
        width: 98%;
        width: calc(100% - 1em); } }
    @media (min-width: 1000px) and (max-width: 1300px) {
      .item:not(.video-loaded) {
        width: 49%;
        width: calc(50% - 1em); } }
    @media (min-width: 1300px) and (max-width: 1600px) {
      .item:not(.video-loaded) {
        width: 33.2%;
        width: calc(33.2% - 1em); } }
  @media (max-device-width: 800px) {
    .item {
      font-size: 1.5em; } }
  .item time {
    text-align: right;
    font-size: .7em;
    display: block; }
  .item.item-blogentry, .item.item-batch {
    width: 96%;
    width: calc(100 % - 0.5em); }
  .item.item-batch {
    padding: 0; }
    .item.item-batch .item {
      border: none; }
      .item.item-batch .item:not(.video-loaded) {
        width: 22%;
        width: calc(25% - 1em); }
        @media (max-width: 1000px) {
          .item.item-batch .item:not(.video-loaded) {
            width: 98%;
            width: calc(100% - 1em); } }
        @media (min-width: 1000px) and (max-width: 1300px) {
          .item.item-batch .item:not(.video-loaded) {
            width: 49%;
            width: calc(50% - 1em); } }
        @media (min-width: 1300px) and (max-width: 1600px) {
          .item.item-batch .item:not(.video-loaded) {
            width: 33.2%;
            width: calc(33.2% - 1em); } }

.item-batch {
  position: relative; }

.item,
.item-content,
.item-batch {
  overflow-x: hidden;
  text-overflow: ellipsis; }

.item-image img,
.item-video img {
  width: 100%;
  height: auto; }

.item.project-summary {
  min-height: 14em;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }
  .item.project-summary h3,
  .item.project-summary .project-description {
    padding: 0.25em;
    opacity: .2;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
  .item.project-summary:hover h3,
  .item.project-summary:hover .project-description {
    background-color: #a5b3cc;
    opacity: .9;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s; }

a {
  color: #0010a3;
  text-decoration: none;
  /*background-color: #a5b3cc;
  border: 1px solid #a5b3cc;*/ }

a:hover {
  background-color: #7b87cc;
  /*outline: 2px solid #7b87cc;
  border: 1px solid #7b87cc;
  border-radius: .2em;*/ }
