
#banner
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  z-index: -1;
  opacity: .5;
  background: linear-gradient(to bottom, rgba(73, 80, 116, 0), rgba(73, 80, 116, .9) 60%, rgba(73, 80, 116, 1)), url('../images/linearchaos-c-output-2013.05.16-5.jpg') no-repeat fixed top left;
  background-size: 100% 300px;
}

.item-batch .item
{
  border: none;
  margin: .25em;
  padding: .25em;
}
.item-batch .item-commit
{
  margin-right: 2em;
}
.item-title
{
  background: #a5b3cc;
  padding: .2em .5em;
  border: 1px dotted #ccc;
  border-radius: .2em;
  margin: 0 .2em;
}
.item-content
{
  font-size: .9em;
}
.item-batch
{
  display: inline-block;
}
