{%- extends "../shared/layout.html" -%}

{%- block doc_title -%}project: {{ project.title }}{%- endblock -%}

{%- block page_title -%}project: {{ project.title }}{%- endblock -%}

{%- block content -%}
{%- if not isAjax -%}
  {{ common.project_sub_nav( project, projectPages, null ) }}
  <article>
    <div class="project-description">
      {%- if project.descriptionRendered -%}
      {%- autoescape false -%}{{ project.descriptionRendered }}{%- endautoescape -%}
      {%- else -%}
      {%- autoescape false -%}{{ project.summaryRendered }}{%- endautoescape -%}
      {%- endif -%}
    </div>
    <div id="project-items">
{%- endif -%}
      {%- for item in items -%}
        {{ common.renderItem(item) }}
      {%- endfor -%}
{%- if not isAjax -%}
    </div>
  </article>
  {%- endif -%}
{%- endblock -%}