extends ../layout

include ../mixins

block content
  article
    div.project-description
      != project.descriptionRendered || project.summaryRendered
    div#project-items
block scripts
  script(defer).
    $(function()
    {
      tekt.initPage('projectDetail', {projectKey:'#{project.key}'});
    });