extends ../layout

include ../mixins

block content
  if (projectPages && projectPages.length) || (project.navItems && project.navItems.length)
    mixin projectSubNav(project.key, projectPages, null, project.navItems)
  article
    div.project-description
      != project.descriptionRendered || project.summaryRendered
    div#project-items
block scripts
  script(defer).
    $(function()
    {
      tekt.initPage('projectDetail', {projectKey:'#{project.key}'});
    });