extends ../layout

include ../mixins

block content
  article
    div.project-description
      != project.descriptionRendered || project.summaryRendered
    div#project-items
block scripts
  script(defer).
    var projectKey = "#{project.key}"
    $(function()
    {
      $('#project-items').load('/projects/'+projectKey+'/items?ajax=1 #ajax-main > *', function()
      {
        tekt.initItemViewers('#project-items');
      });
    });