{% extends "../shared/layout.html" %}

{% block doc_title %}projects{% endblock %}

{% block page_title %}projects{% endblock %}

{% block content %}
  {% for project in projects %}
    <div class="item project-summary" style="background-image:url('{{project.bannerUrl}}');">
      <h3 class="item-title">
        <a href="/projects/{{ project.key }}">{{ project.title }}</a>
      </h3>
      <div class="project-description">
        {{ project.summaryRendered | default(project.descriptionRendered) | safe }}
      </div>
    </div>
  {% endfor %}
{% endblock %}