extends ../layout

block content
  each project in projects
    article.project-summary
      h3
        a(href='/Projects/'+project.key)=project.title
      div.project-description
        != project.summaryRendered || project.descriptionRendered
